*, ::after, ::before {
    box-sizing: border-box;
}
h1, h2, h3, h4, p, ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
body{
    font-family: "Roboto",sans-serif ;
    color: #434455;
    background-color: #FFFFFF;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
img {
    display: block;
}


.header{
    margin: auto;
    padding: 0 15px;
    width: 1158px;
    display: block;
    unicode-bidi: isolate;
    border-bottom: 1px solid #e7e9fc;
}
.nav{
    display: flex;
    align-items: center;
}
.logo-web{
    font-family: "Raleway",sans-serif;
    font-size: 18px;
    color: #4D5AE5;
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
.logo-studio{
    font-family: "Raleway" ,sans-serif;
    text-transform: uppercase;
    color: #2E2F42;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.menu-list{
    display: flex;
    align-items: center;
    margin: 76px;
}
.menu-iteam{
    margin-right: 40px;
}
.menu{
    font-size: 16px;
    color: #2E2F42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.menu:hover,.menu:focus{
    color:#404bbf;
}
.address{
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    list-style: none;
    font-style: normal;
}
.address:hover,.adress:focus{
    color: #404bbf;
}


.order{
    padding: 188px 0;
    text-align: center;
    background: #2E2F42;
}
.order-text{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    width: 496px;
    font-family: "Roboto" ,sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}
.button-order{
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #ffffff;
    background: #4d5ae5;
}
.button-order:hover,.button-order:focus{
    background-color: #404BBF;
}

.section{
    padding: 120px 0;
}
.conteiner{
    margin: auto;
    padding: 0 15px;
    width: 1158px;
}
.title{
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.feature-list{
    display: flex;
}
.feature-iteam{
    width: calc((100% - 3* 24px) / 4);
    margin-right: 24px;
}
.feature-text-link{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #2E2F42;
    letter-spacing: 0.02em;
}
.feature-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}

.section-team{
    padding: 120px 0;
    background-color: #f4f4fd;
}
.team{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.product{
    text-align: center;
    width: calc((100% - 3* 24px) / 4);
    margin-right: 24px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
}
.team-info{
    padding: 32px;
}
.team-name{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.team-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
}
.section-portfolio{
    padding: 120px ;
}
.list-portfolio{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 8px;
}
.item-portfolio{
    text-align: center;
    width: calc((100% - 3* 24px) / 4);
    margin-right: 24px;
    background-color: #ffffff;
}
.info-portfolio{
    top: 300px;
    padding: 32px 16px 32px 16px;
    gap: 8px;
    border: 0px 1px 1px 1px;
    width: 360px;
    height: 120px;
    border-width: 0px, 1px, 1px, 1px;
    border-style: solid;
    border-color: #E7E9FC;
}
.portfolio-name{
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.portfolio-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer{
    padding: 100px;
    background: #2E2F42;
}
.logo-web-footer{
    margin-bottom: 16px;
    display: inline-block;
    font-family: "Raleway",sans-serif;
    font-size: 18px;
    color: #4D5AE5;
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
.footer-studio{
    color: #F4F4FD;
    font-family: "Raleway" ,sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em
}
.footer-text{
    width: 264px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em
}